*.class

# Package Files #
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp
*~.nib

.project
bin/
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
.launch
.cproject
.buildpath
libs/
nbproject/
dist/
build/
test/
build.xml
manifest.mf

proyectoTAW-ejb/build/
proyectoTAW-ejb/dist/
proyectoTAW-ejb/setup/
proyectoTAW-ejb/nbproject/
proyectoTAW-ejb/src/conf/
proyectoTAW-ejb/build.xml

proyectoTAW-war/build/
proyectoTAW-war/dist/
proyectoTAW-war/web/WEB-INF/
proyectoTAW-war/nbproject/
proyectoTAW-war/build.xml
proyectoTAW-war/web/index.html
