*.class

# Package Files #
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp
*~.nib

.project
bin/
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
.launch
.cproject
.buildpath
*/web/css
*libs/
*nbproject/
*dist/
*build/
*test/
*setup/
*/src/conf/
*src/conf/
*WEB-INF/
*build.xml
*manifest.mf
*index.html
